---
// import M2 from '../components/M2.astro';
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// 	img: string;
// 	price: string;
// 	metros:number;

// }

// const { href, title, body, img, price, metros } = Astro.props;
---

<div class="max-w-sm bg-[#ffffffc6] border border-gray-200 rounded-lg shadow mx-auto ">
    <a href="#">
        <img class="rounded-t-lg" src="https://d1acdg20u0pmxj.cloudfront.net/listings/004705cb-a250-405a-b09e-758cb5f5e9bc/AUTOx860/f59508ed-5b0a-4605-97b3-daaddb23f940.webp?" alt="" />
    </a>
    <div class="p-5">
		<div class="flex text-gray-700 gap-3">
			<div class="text-gray-700 flex justify-center items-center gap-1">
				<span class="text-2xl">4</span>
				<div class="icon flex flex-col">
					<i class="fas fa-door-open"></i>
					<span>Hab.</span>
				</div>
			</div>
			<div class="flex justify-center items-center gap-1">
				<span class="text-2xl">35</span>
				<div class="icon flex flex-col">
					<i class="fa-solid fa-ruler-combined"></i>
					<span>m2</span>
				</div>
			</div>
			<div class="flex justify-center items-center gap-1">
				<span class="text-2xl">3</span>
				<div class="icon flex flex-col">
					<i class="fas fa-bath"></i>
					<span>Baños</span>
				</div>
			</div>
		</div>
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">$75.000 USD</h5>
        </a>
		
        <p class="mb-3 font-normal text-gray-700 ">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
		
    </div>
</div>

<script src="https://kit.fontawesome.com/4f72ccc7eb.js" crossorigin="anonymous"></script>



<!-- <div class="flex gap-6 justify-center items-center">
	<a href="./" class="hover:text-[#3b5998] "><Facebook/></a>
	<a href="./" class="hover:text-[#E1306C] "><Instagram/></a>
	<a href="./" class="hover:text-[#aaa] "><Xspace/></a>
	<a href="./" class="hover:text-[#0e76a8] "><Linkedin/></a>
</div> -->